@{
    ViewBag.Title = "HashMaps - Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    @Scripts.Render("~/bundles/Home/Index");
}

@section styles{
    @Styles.Render("~/styles/Home/Index");
}

<div class="jumbotron">
    <h2>Follow #AvaTS14!</h2>
    <p>People from all over the world have come to visit Avanade's Tech Summit 2014. Find out what's going on an where they're from.</p>
    <input id="logIn" class="btn btn-primary btn-lg" type="button" value="Sign in with Yammer" />
</div>